## python tmp files
np
pd
sys
argparse
glob
stan
__pycache__
*.swp
*.pyc 
*.npz

## "figure/" "results/"  folder 
results/
figures/
figure/
test/


## vscode 
.vscode/

# R tmp files
.Rhistory
.RData
